body{
    border-color: darkblue;
    border-width: 10px;
    border-style: groove;
    border-image: fill;
}
header{
    background-color: pink;
    padding: 20px 40px;
    margin: 0px;
    font-size: larger;
    align-items: center;
    background-image: url("road.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width:768px){
    header,main,footer{
    padding: 10px;
}
}
#a{
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: burlywood;
}
.aa{
    display: flex;
    font-size:smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    gap: 15px;
    color: aqua;
a{
    color: bisque;
}
}
main{
    padding:30px 60px;
    margin: 0px;
    background-color:rgba(147, 132, 215, 0.356);
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url("pic2.jpg");
    
}
.vd{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-direction: row;
    
}
#vid1{
    width: 25vw;
    max-width:100%;
    height: 25vw;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
}
#vid2{
    width: 25vw;
    max-width:100%;
    height: 25vw;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
}
#vid3{
     width: 25vw;
    max-width:100%;
    height: 25vw;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
}
.ao{
    display: flex;
    flex-direction: column;
}

#audi{
    display: flex;
    flex-direction: column;
    width:10vw;
    max-width: 100%;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.ig{
    display: flex;
    flex-direction: column;
}
#image{
   width: 15vw;
   max-width:  100%;
   height: 20vw;
   margin: 20px 0;
   border: 2px solid #000;
   border-radius: 10px;
   background-color: #f0f0f0;
   box-shadow: 0 2px 6px;

}
.link{
    display: flexbox;
    gap: 20px;
    justify-content:center;
    margin: 20px 0;
    color: aqua;
    
}
.link a{
    text-decoration: none;
    color: chartreuse;
    
}
figure{
    text-align:center;
    margin: 30px;
}
figcaption{
    font: size 14px;
    color: chartreuse;
    margin-top: 5px;
}
.menu-container{
    position: relative;
    display: inline-block;
}
.dot{
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    margin-left: 10px;
}
.menu{
    display: none;
    position:absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px;
    rgba(0,0,0,0.1);
    z-index:1;
}
.menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    background-color: #f0f0f0;
}
footer{
    padding: 20px;
    margin: 0px;
    background-color: aquamarine;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}