
header{
    background-color: pink;
    padding: 10px;
    margin: 0px;
    font-size: larger;
    align-items: center;
    background-image: url("road.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
#a{
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: burlywood;
}
.aa{
    display: flex;
    font-size:smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    gap: 15px;
    color: aqua;
a{
    color: bisque;
}
}
main{
    padding: 100px;
    margin: 0px;
    background-color:lightgreen;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: url("pnkf.jpg");
    background-size: cover;
    background-position: center;
    
}
#vid{
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    object-fit: cover;
}
#audi{
    width: 200px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f0f0f0;
}
#image{
   position: relative;
   left: 425px;
   border: 2px solid #000;
   border-radius: 10px;
   background-color: #f0f0f0;
   box-shadow: 0 2px 6px;
   display:block;

}
.menu-container{
    position: relative;
    display: inline-block;
}
.dot{
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    margin-left: 10px;
}
.menu{
    display: none;
    position:absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px;
    rgba(0,0,0,0.1);
    z-index:1;
}
.menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    background-color: #f0f0f0;
}
footer{
    padding: 10px;
    margin: 0px;
    background-color: aquamarine;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}